@import "tailwindcss";

:root {
  --background: white;
  --foreground: #171717;
  --primary-color: #D1B29F;
  --secondary-color: #03DAC6;
  
}

.bg-primary-color {
  background-color: var(--primary-color);
}
@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
}
